<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<title>
  Aditya 
</title>
<head>
  
  <h1><b> 
    <p style="text-align: center;"> Hi..... My Name is Aditya </p>

  </b> </h1>

</head>

<body>
  <div class="container" >
    <h2> Aditya </h2>
    <p>
      ABOUT ME
    </p>
    <div class="card img-fluid" style="widows: 500px;">
      <img class="card-img-top" src="" alt="" style="widows: 100%;">
      <div class="card-img-overlay">
      <h3 class="card title"> Aditya This side for ypur help</h3>
      <p class="card-text" >
        about the detai;ls of the project
      </p>

    </div>
  </div>
  </div>

</body>



</html>